@using RecordStore.MVC.Areas.Admin.Models
@{
    Layout = "../Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = "Manage Page";
}
@model IEnumerable<GetUserViewModel>

<div class="text-center">
    <p>Here Users will be managed.</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        @if (user.IsLockedout)
                        {
                            <form class="d-inline-block" method="post" asp-action="RemoveLockout">
                                <input name="Id" value="@user.Id" hidden />
                                <button type="submit" class="btn btn-danger active">Remove Lockout</button>
                            </form>
                        }
                        else
                        {
                            <form class="d-inline-block" method="post" asp-action="Lockout">
                                <input name="Id" value="@user.Id" hidden />
                                <button type="submit" class="btn btn-danger">Lockout</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
