@using RecordStore.Core.ViewModels.User
@{
    Layout = "../Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = @UILabels.ManageUsersTitle;
}
@model IEnumerable<GetUserViewModel>

<h1>@UILabels.ManageUsersHeader</h1>
<hr />
<a class="btn btn-primary" asp-area="Admin" asp-controller="Users" asp-action="Add">
    <i class="bi bi-person-plus"></i>
    @UILabels.AddUser
</a>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th class="col-3" scope="col">@UILabels.Username</th>
                <th class="col-5" scope="col">@UILabels.Email</th>
                <th class="col-4" scope="col">@UILabels.EditRecord</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="col-3">@user.Username</td>
                    <td class="col-5">@user.Email</td>
                    <td class="col-4">
                        <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">@UILabels.EditRecord</a>
                        @if (user.IsLockedout)
                        {
                            <form class="d-inline-block" method="post" asp-action="RemoveLockout">
                                <input name="Id" value="@user.Id" hidden />
                                <button type="submit" class="btn btn-danger active">@UILabels.RemoveLockout</button>
                            </form>
                        }
                        else
                        {
                            <form class="d-inline-block" method="post" asp-action="Lockout">
                                <input name="Id" value="@user.Id" hidden />
                                <button type="submit" class="btn btn-danger">@UILabels.Lockout</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
