@using RecordStore.Core.DTOs.Category;
@using RecordStore.Core.DTOs.Condition;
@using RecordStore.Core.DTOs.Format;
@using RecordStore.Core.DTOs.Genre;
@using RecordStore.Core.DTOs.Release;
@using RecordStore.Core.DTOs.Style;
@model RecordStore.Core.ViewModels.Record.CreateRecordViewModel

@{
    ViewData["Title"] = @UILabels.AddRecordTitle;
    Layout = "~/Areas/Admin/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h2>@UILabels.AddRecordHeader</h2>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <input id="images-input" type="file" name="Photos" class="filepond" accept=".jpg, .png, image/jpeg, image/png" multiple>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="RecordConditionId" class="control-label"></label>
                <select class="form-select" asp-for="RecordConditionId" asp-items="@(new SelectList(ViewData["Conditions"] as IEnumerable<GetConditionDTO>, nameof(GetConditionDTO.Id), nameof(GetConditionDTO.Name)))">
                    <option value="">@UILabels.SelectOption</option>
                </select>
                <span asp-validation-for="RecordConditionId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FormatId" class="control-label"></label>
                <select class="form-select" asp-for="FormatId" asp-items="@(new SelectList(ViewData["Formats"] as IEnumerable<GetFormatDTO>, nameof(GetFormatDTO.Id), nameof(GetFormatDTO.Name)))">
                    <option value="">@UILabels.SelectOption</option>
                </select>
                <span asp-validation-for="FormatId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReleaseId" class="control-label"></label>
                <select class="form-select" asp-for="ReleaseId" asp-items="@(new SelectList(ViewData["Releases"] as IEnumerable<GetReleaseDTO>, nameof(GetReleaseDTO.Id), nameof(GetReleaseDTO.Name)))">
                    <option value="">@UILabels.SelectOption</option>
                </select>
                <span asp-validation-for="ReleaseId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label asp-for="Genres" class="control-label"></label>
                @for (int i = 0; i < Model.Genres.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Genres[i].Id" />
                        <input type="hidden" asp-for="@Model.Genres[i].Name" />
                        <input type="checkbox" asp-for="@Model.Genres[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model.Genres[i].IsSelected" class="form-check-label">
                            @Model.Genres[i].Name
                        </label>
                    </div>
                }
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Styles" class="control-label"></label>
                @for (int i = 0; i < Model.Styles.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Styles[i].Id" />
                        <input type="hidden" asp-for="@Model.Styles[i].Name" />
                        <input type="checkbox" asp-for="@Model.Styles[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model.Styles[i].IsSelected" class="form-check-label">
                            @Model.Styles[i].Name
                        </label>
                    </div>
                }
                <span asp-validation-for="Styles" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Categories" class="control-label"></label>
                @for (int i = 0; i < Model.Categories.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Categories[i].Id" />
                        <input type="hidden" asp-for="@Model.Categories[i].Name" />
                        <input type="checkbox" asp-for="@Model.Categories[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model.Categories[i].IsSelected" class="form-check-label">
                            @Model.Categories[i].Name
                        </label>
                    </div>
                }
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="@UILabels.CreateRecordAction" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }    
    @{
        await Html.RenderPartialAsync("_FilePondScripsPartial");
    }
}
